*{
    background-color: black;
}

.item{
    transition: .35s;
    cursor: pointer;
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 50px;
    float: left;
    border-radius: 20px;
}


.container:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}