:root{
    --fundo: #000000 ;
    --hover:#aaaaaa;
    --principal: #ffffff;
 }

 *{
     margin: 0;
     padding: 0; 
 }

/* MENU */
 nav.menu-horizontal{
    width: 100%;
    background-color: #000000;
    height: 160px;
    text-align: center;
    position: sticky;
    padding-top: 15px;
}


.imagem-menu-fundo{
    background-color: rgb(179, 179, 179);
    border-radius: 30px;
}

.item-menu{
    display: flex;
    justify-content: right;
    padding-right: 60px;
}

ul li.item-menu p{
   
    position: relative;
    
      font-size: 30px;
    }
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu a{

    text-decoration: none;
    
    padding-left: 200px;
    text-align: center;
    color: #757575;
    
    display: inline-block;
    }
ul li.item-menu  a:hover{
    color: #ffffff;

}

/* MENU */

.container-medalha{
    width: 100px;
    height: 200px;
    background-color: rgb(255, 255, 255);

}

.imagem-logo{
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}

details{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.podio-24{
    display: flex;
    justify-content: center;
    align-items: center;
}

 body {
    background: linear-gradient(rgb(58, 58, 58),white,rgb(58, 58, 58));
 }

 img{
    height: 100px;
    width: 100px;
  
 }

 
 .div{
    background-color: #535353;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0),rgb(255, 0, 0),rgb(95, 95, 95));
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    justify-content: left;
 
   box-shadow: 25px 25px 15px black;
 }

 h2{
    color: white;
 }

 .foto-inicio {
    width: 1000px;
    height: 500px;
    margin: auto;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    
 }


 footer{

    background-color: #ffffff;
    height: 50px;
    width: 100%;
  
    bottom: 0;
    margin: 0;
    text-align: center;
    
     }

     @media screen and (max-width: 1160px) {

        .nav {
        
        padding: 15px 100px;
        
        }
        
        .nav.search-box {
        
        right: 150px;
        
        }
        
        }
        
        @media screen and (max-width: 950px) {
        
        .nav {
        
        padding: 15px 50px;
        
        }
        
        .nav.search-box {
        
        right: 100px;
        
        max-width: 400px;
        
        }
        
        }
        
        @media screen and (max-width: 768px) {
        
        .nav.navOpenBtn,
        
        .nav.navCloseBtn {
        
        display: block;
        }
    }
      
    .nav{
        background-color: #000000;

        width: 100%;
        height: 80px;
        align-items: center;
        text-align: center;
        
    }
    



     