:root{
    --fundo: #000000 ;
    --hover:#aaaaaa;
    --principal: #ffffff;
 }
 *{
     justify-content: center;
     margin: 0;
     padding: 0;
 }

 .dp-menu ul{
     list-style-type: none;
     padding: 0;
     background-color: var(--fundo);
    
    
     
 }
 .dp-menu ul li{
     display: inline;
     position: relative;
  
   
 }
 .dp-menu ul li a{
     color: var(--principal);
     text-decoration: none;
     display: inline-block;
     padding: 30px;
     
    
     
 }
 .dp-menu ul li a:hover{
     background-color: var(--hover);
     border-radius: 50px;
     transition: .6s;
    
 }
 .dp-menu ul ul{
     display: none;
     left: 0;
     position: absolute;
     
 }
 .dp-menu ul li:hover ul{
     display: block;
     
 }
 .dp-menu ul ul {
    width: 150px;
     
 }
 .dp-menu ul ul li a{ 
 display: block;
 }
 body{
   background-color: rgb(116, 0, 0);
   
 }
 .dp-menu{
   
    text-align: center;
    align-content: center;
    top: 0px;
    position: sticky;
    
  
    
 }
 .div{
    background-color: #a5a5a5;
    width: 90%;
    height: 560px;
  margin: auto;
   margin-top: 120px;
  text-align: center;
   justify-content: left;
  background-image: url(../imagens/seilA.jpeg);
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 50px unset;
   box-shadow: 25px 25px 15px black;

   
 }
 img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgb(56, 56, 56);
 }
 footer{

    background-color: #ffffff;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;
    
    
     }
    