:root{
    --fundo: #000000 ;
    --hover:#aaaaaa;
    --principal: #ffffff;
 }
 *{
     justify-content: center;
     margin: 0;
     padding: 0;
 }

 nav.menu-horizontal{
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
  
    
}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu a{

    text-decoration: none;
    font-size: 32px;
    padding: 20px ;
    
    margin-left: 150px;
    text-align: center;
    
    
    }
ul li.item-menu  a:hover{
    color: #ffffff;

}
span{
    color: transparent;
}
span:hover{
    transition: .6s;
    overflow: hidden;
    color: #ffffff;

}

 body{
   background-color: rgb(116, 0, 0);
   
 }
 
 .div{
    background-color: #a5a5a5;
    width: 90%;
    height: 560px;
  margin: auto;
   margin-top: 120px;
  text-align: center;
   justify-content: left;
  
   box-shadow: 25px 25px 15px black;

   
 }
 .img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgb(56, 56, 56);
 }
 footer{

    background-color: #ffffff;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;
    
    
     }
     img{
        height: 100px;
        width: 100px;
      
     }
    