*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(58, 58, 58);
}

:root{
    --fundo: #000000 ;
    --hover:#aaaaaa;
    --principal: #ffffff;
 }
 *{
     justify-content: center;
 }

 .dp-menu ul{
     list-style-type: none;
     padding: 0;
     background-color: var(--fundo);
     border-radius: 50px;
 }
 .dp-menu ul li{
     display: inline;
     position: relative;
 }
 .dp-menu ul li a{
     color: var(--principal);
     text-decoration: none;
     display: inline-block;
     padding: 30px;
     border-radius: 50px;
    
     
 }
 .dp-menu ul li a:hover{
     background-color: var(--hover);
     border-radius: 50px;
     transition: .6s;
    
 }
 .dp-menu ul ul{
     display: none;
     left: 0;
     position: absolute;
     
 }
 .dp-menu ul li:hover ul{
     display: block;
     
 }
 .dp-menu ul ul {
    width: 150px;
     
 }
 .dp-menu ul ul li a{ 
 display: block;
 }

 .dp-menu{
    align-items: center;
    text-align: center;
 
 }

.item2{
    transition: .35s;
    cursor: pointer;
    background-color: white;
    width: 200px;
    height: 200px;
    padding-left: 35px;
    margin: 50px;
    float: left;
    border-radius: 20px;
    padding-right: 35px;
}
footer{

    background-color: #aaaaaa;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;
    
    
     }

.quadrado{
  
    width: 200px;
    height: 200px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #747474;
    padding: 160px;
    height: 1000px;
}

.white-box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 22px 2px black;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.item{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product{
    text-align: center;
    background-color: #e9eef2;
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.product.sale .sell{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.item img{
    height: 90%;
    margin-top: 10%;
}

.item h3{
    margin: 0;
    color: #444;
    font-size: 1.2rem;
    margin: 10px 0px 10px 0px;
}

.item span{
    color: #777;
    font-size: 1rem;
    margin: 10px;
}

.item button{
    background-color: #262524;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:680px){
    .item{
        display: block;
    }
    .item{
        margin-bottom: 20px;
    }
    .container2{
        height: auto;
    }
}

