:root{
    --fundo: #000000 ;
    --hover:#aaaaaa;
    --principal: #ffffff;
 }

 *{
    
     margin: 0;
     padding: 0;
 }

 h2{
    text-align: center;
    border-radius: 10px;
    background-color: gray;
    width: 300px;
    display: flex;
    justify-content: center;
   }

 /* MENU */

 nav.menu-horizontal{
    width: 100%;
    background-color: #000000;
    height: 160px;
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 15px;

}


.imagem-menu-fundo{
    background-color: rgb(179, 179, 179);
    border-radius: 30px;
}


ul li.item-menu p{
   
    position: relative;
    
      font-size: 30px;
    }

    .item-menu{
        display: flex;
        justify-content: right;
        padding-right: 60px;
    }

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu a{

    text-decoration: none;
    
    padding-left: 200px;
    text-align: center;
    color: #757575;
    
    display: inline-block;
    }

ul li.item-menu  a:hover{
    color: #ffffff;

}


 footer{

    background-color: #4b4b4b;
    height: 50px;
    width: 100%;
    
    bottom: 0;
    margin: 0;
    text-align: center;
   
    
     }


 body{
   background-color: rgb(116, 0, 0);
   
 }

.botao{
    background-color: #262524;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
img{
    height: 100px;
    width: 100px;
  
 }

.quadrado{
  
    width: 200px;
    height: 200px;
}

.container2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}

.container2:hover > :not(:hover){
    opacity: .6;
    transform: scale(0.9);
    position: static;
}

.item2{
    transition: .35s;
    cursor: pointer;
    background-color: white;
    width: 200px;
    height: 200px;
    padding-left: 35px;
    margin: 50px;
    float: left;
    border-radius: 20px;
    padding-right: 35px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #747474;
    padding: 160px;
    height: 100%px;
}

.white-box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 22px 2px black;
    
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}

.item{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   
}

.product{
    text-align: center;
    background-color: #e9eef2;
    width: 100%;
    height: 220px;
    border-radius: 5px;
    position: static;
   
}

.produto{
    width: 200px;
}


.product.sale .sell{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.item img{
    height: 90%;
    margin-top: 10%;
}

.item h3{
    margin: 0;
    color: #444;
    font-size: 1.2rem;
    margin: 10px 0px 10px 0px;
}

.item span{
    color: #777;
    font-size: 1rem;
    margin: 10px;
}

.carr{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}


@media(max-width:680px){
    .item{
        display: block;
    }
    .item{
        margin-bottom: 20px;
    }
    .container2{
        height: auto;
    }
}

